*{
  margin:0;
  padding: 0;
}

body{
  background: url(../assets/18166b2039b4506db3120d7e49794b85.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;

}
.layer-over-background{
  background-color: rgba(124, 207, 0, 0.174);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 11;
  filter: blur(18px);
  -webkit-filter: blur(78px);
}

a{
  text-decoration: none;
  color: white;
}

.frijole-regular {
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}
.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}
.main-hero{
  z-index: 50;
  height: 10em;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center ;


  .container-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    gap: 1em;
    width: 90%;
    margin: 0 auto;

    a{
    color: white;
    text-shadow: 2px 3px 5px black  ;
    margin: 0 auto;
    }
  }

  picture{
    min-width:50% ;
    margin: 0 auto;
  }
  img{
    width: 150px;

  }
}

.form{
  width: 70%;
  height: 70vh;
  box-shadow: 2px 3px 2px greenyellow;
  margin: 0 auto;
  background-color: rgb(41, 41, 41);
  border-radius: 10px;
  text-align: center;
  padding: 1em;

  .new{
    color: greenyellow;
    font-size: 20px;
  }

  .input-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    .inputElement{
      background-color: transparent;
      border: white 1px solid;
      padding: 1em;
      color: white;

    }

    .inputElement:focus {
      border: none ;
      color: white;
    }
    .inputElement::placeholder{
      color: greenyellow;
    }

    .submitButton{
      background-color: greenyellow;
      color: black;
      padding: 1em;
      border: none;
    }
  }

}

.alert{
  .saved{
    font-family:"Creepster", system-ui ;
    color: greenyellow;
    font-size: 20px;
  }
}

img{
  width: 150px;
}

@media (min-width:700px) {

  .main-hero{
    height: 10em;
    width: 80%;
    flex-direction: row;
    align-items: center;
  
    .container-links{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      font-size: 20px;
      gap: 0em;
      width: 90%;
      margin: 0 auto;
  
      a{
      color: white;
      text-shadow: 2px 3px 5px black  ;
      margin: 0 auto;
      }
    }
  
    picture{
      min-width:20% ;
      margin: 0 auto;
    }
    img{
      width: 200px;
  
    }
  }

  .form{
    width: 40%;
    height: max-content;
    box-shadow: 2px 3px 2px greenyellow;
    margin: 0 auto;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    text-align: center;
    padding: 1em;
  
    .new{
      color: greenyellow;
      font-size: 45px;
    }
  
    .input-container{
      padding: 2em;
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      
      gap: 1em;
      .inputElement{
        background-color: white;
        border: white 1px solid;
        padding: 1em;
        color: black;
        border-radius: 5px;
      }
  
      .inputElement:focus {
        border: none ;
        color: black;
      }
      .inputElement::placeholder{
        color: rgba(0, 0, 0, 0.502);
        
      }
  
      .submitButton{
        border-radius: 5px;
        border: 1px black solid;
        padding: 0.5em;
        font-family: frijole;
      }
    }
  
  }

  .alert{
    .saved{
      font-family:"Creepster", system-ui ;
      color: greenyellow;
      font-size: 40px;
    }
  }
}

label{
  font: 20px;
  font-family: Frijole;
  color: greenyellow;
  text-align: start;
}