*{
  margin:0;
  padding: 0;
}

body{
  /* background: url(../assets/18166b2039b4506db3120d7e49794b85.jpg); */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  background-color: black;
}
a{
  text-decoration: none;
  color: white;
}

.frijole-regular {
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}
.creepster-regular {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
}

.main-hero{
  z-index: 50;
  height: 10em;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center ;


  .container-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    gap: 1em;
    width: 90%;
    margin: 0 auto;

    a{
    color: white;
    text-shadow: 2px 3px 5px black  ;
    margin: 0 auto;
    }
  }

  picture{
    min-width:50% ;
    margin: 0 auto;
  }
  img{
    width: 150px;

  }
}




@media (min-width:700px) {
  .main-hero{
    height: 10em;
    width: 80%;
    flex-direction: row;
    align-items: center;
  
    .container-links{
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: nowrap;
      font-size: 20px;
      gap: 0em;
      width: 90%;
      margin: 0 auto;
  
      a{
      color: white;
      text-shadow: 2px 3px 5px black  ;
      margin: 0 auto;
      }
    }
  
    picture{
      min-width:20% ;
      margin: 0 auto;
    }
    img{
      width: 200px;
  
    }
  }

  .container{
    width: 85%;
    margin: 5em auto;
    padding: 1em;
    
  }

  .containerMonsterModal{
    display: flex;
    align-items: center;
    height: 15em;
    border: 0.25em solid rgb(238, 238, 238);
    color: white;
    margin-bottom: 10em;
    position: relative;
    img{
      border-radius: 2em;
      width: 9em;
      margin-left: 5em;
    }


    .info{
      display: flex;
      flex-direction: column;
      margin-left: 5em;
      .monsterName{
        font-size: 2em;
      }
      .monsterDate{
        font-size: 1em;
        color: rgb(174, 174, 174);
      }
      .monsterRate{
        font-size: 1.5em;
        color: greenyellow;
      }
      .monsterDescription{
        font-size: 1em;
      }
    }
    .buttons{
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.2s ease;
      display: flex;
      gap: 1em;
    }

    .buttons .edit{
      transition: all 0.2s ease;

    }
  
    .buttons .edit:hover{
      height: 55px;

    }

    .delete{
      transition: all 0.2s ease;

    }
  
    .buttons .delete:hover{
      height: 55px;

    }

  }

  .update-item{
    border-radius: 10px;
    position: fixed;
    left: 0;
    right:0;
    top: 50%; 
    margin:0 auto;
    width:30%;
    height: 50%;
    padding: 1em;
    background-color: rgb(41, 41, 41);
    box-shadow: 2px 3px 2px greenyellow;

    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%);
    display: flex;
    flex-direction: column;
    color: greenyellow;
    .title{
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      gap: 1em;
      width: 90%;
      justify-content: space-between;
      p{
        flex-grow: 1;
      }
    
    }
    p{
      text-align: center;
      font-size: 20px;
      font-family: Frijole;
    }
    .itemInfo{
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 2em auto;

      label{
        font-size: 20px;
        font-family: Frijole;
      }
      updateButton{
        border-radius: 5px;
        border: 1px black solid;
        padding: 0.5em;
      }

    }

    button{
      background-color: greenyellow;
      color: black;
      padding: 1em;
      border: none;
      font-family: frijole;
      border-radius: 2px;
    }
    button:hover{
      cursor: pointer;
    }
    
    .closeModal{

      color: white;
      transition: all s;
    }
    .closeModal:hover{
      rotate: 90deg;
      color: greenyellow;
    }



  }

  .close-item{
    display: none;
    transition: all 1s;
  }





}

.blur{
  filter: blur(5px);
}

input{
  background-color: white;
  border: white 1px solid;
  padding: 0.5em;
  color: black;
  border-radius: 5px;
}